*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: fantasy !important;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.content {
  width: 100vw;
  height: 90vh;
  display: flex;
}

.content-banner {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.25rem;
}

button {
  font-family: fantasy;
  flex-grow: 1;
  font-size: 1.875rem;
  line-height: 1.875rem;

  cursor: pointer;
}